
@import "../../../../../../xmd/style/jquery/ximdex_theme/widgets/themes/ximdex_theme"; 


#body .advanced-btn{
	display: block;
	text-align: right;
	color: $c_selected;
	padding: 1em 0;
} 

.advanced-settings{
	height: 0;
	overflow: hidden;
	
}

/**************
// GALLERY themes 
***************/
.theme{
	display: inline-block;
	position: relative;
	margin: 1em 3% 2.5em 0;
	padding: 15px 10px;
	border: 1px solid transparent;
	vertical-align: top;
	max-width: 47%;
	min-width: 260px;
	p{
		padding: .4em 0;
	}

	&:hover{
		background: $c_white;	@include boxshadow(0 1px 1px $s_black); 
		border: 1px solid $c_grey-ppp;
		@include radius(3px); 
	}

	&:hover .actions{
		display: block;
	}

	&:hover .img_container::before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(123, 202, 191, .5);
	}
}

.title{
	font-size: 19px;font-size: 1.9rem;
	border-bottom: 1px solid $c_mainlight;
	color: $c_grey;
}

.type{
	color: $c_grey-p;

}

.img_container{
	margin-bottom: 15px;
	position: relative;
	cursor: pointer;
	img{
		max-width: 100%
	}

}

.actions{
	position: absolute;
	top: 50%;
	left: 0;
	display: none;
	z-index: 2;
	width: 100%;
	a{
		background: $c_white;
		width: 50px;
		height: 50px;
		padding: 0;
		text-align: center;
		@include radius(50%); 
		overflow: hidden;
		white-space: nowrap;
		font-size: 0; 
		@include boxshadow(0 2px 0 $s_black); 
		//@include transition (all, .2s);
		margin: 0 7% 0 19%;
		position: absolute;
		left: 45%;
		&:first-child{
			left: 0;
		}

		&:hover{
			@include boxshadow(none); 
			width: 56px;
			height: 56px;  
			-webkit-transform: translate(-3px, -3px);
			-moz-transform: translate(-3px, -3px);
			-ms-transform: translate(-3px, -3px);
			-o-transform: translate(-3px, -3px);
			transform: translate(-3px, -3px); 
		}

		&::before{
			content: "\e018"; 
			color: $c_main;
			font-size: 28px; font-size: 2.8rem;
			line-height: 50px;
		}


		&.custom::before{
			font-size: 30px; font-size: 3rem;
			content: "\e00f";  
		}


		&:hover::before{
			font-size: 34px; font-size: 3.4rem; 
			line-height: 56px; 
		}

	}
}


.customize-template-form{
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 100%;
	bottom: 0;
	right: 0;
} 

.custom_options{
	float: left;
	width: 28%;
	height: 100%;
	background: $c_white-l;
	@include boxshadow(2px 0 3px $s_black); 
}

dl{
	padding: 1.5em 25px .8em;

}


dt, dd{
	/*display: inline-block;
	width: 48%;
	vertical-align: top;
	*/
	padding: .8em 0;
}


dd{

	> *{
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}
}



/**************
// CUSTOM BUTTONS 
***************/

.button/*, .custom-colorpicker, .option, .selection*/{
	min-width: 1.6em;
	height: 1.7em;
	position: relative;
	line-height: .7;
	text-align: center;
	margin: 0 .1em;
}

.button:hover{
	background:$c_mainlight;
}

.button:hover .option{
	color: #fff;
}

.options{
	background: $c_grey-l;
	max-height: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	overflow: hidden;
	color: $c_grey-ll;
	position: relative;
	z-index: 10;
}

.button:hover .options{
	max-height: 400px;
}

.selection, .option{
	width: 100%;
	height: inherit;
}

.option{
	height: 1.7em;
	margin: .5em 0;
	position: relative;
}

.custom_options .icon::before, .custom_options .icon::after{
	font-size: 1.8em;
	color: $c_grey-ll;
}
.custom_options .icon::after{
		position: absolute;
		left: 0;
		top: 0;
		color: $c_grey-pp;
}

.custom_options .icon:hover::after, .custom_options .selection::after, .text-align .option:hover::before {
	color: $c_mainlight;
}

.custom_options .icon:hover .selection::after{
	color: $c_white;
}

	/**************
	// Text options 
	***************/
	.text-align .icon::before{
		font-size: 1.8em;
	}
	.text-align-left::before{
		content: '\e016';
	}
	.text-align-right::before{
		content: '\e017';
	}
	.text-align-center::before{
		content: '\e014';
	}
	.text-align-justify::before{
		content: '\e015';
	}


	/**************
	// BG options 
	***************/
	.img-uploader{
		overflow: hidden;


		input{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.img-uploader::before{
		content: '\e00b';
		font-size: 3.2rem;
		line-height: .98;
		
	}
	
	.bg-position .icon::before{
		content: '\e003';
	}

	.bg-position-lt::after{
		content: '\e006';
	}
	.bg-position-rt::after{
		content: '\e008';
	}
	.bg-position-lb::after{
		content: '\e005';
	}
	.bg-position-rb::after{
		content: '\e007';
	}

	.bg-position-cc::after{
		content: '\e004';
	}
	
	.bg-repeat .icon::before{
		content: '\e009';
	}

	.bg-repeat .icon::before, .bg-repeat .icon::after{
		padding-left: .07em;
	}
	.bg-repeat-repeat-x::after{
		content: '\e012';

	}
	.bg-repeat-repeat-y::after{
		content: '\e011';

	}
	.bg-repeat-no-repeat::after{
		content: '\e013';

	}
	.bg-repeat-repeat::after{
		content: '\e009';

	}

	/*.button:hover{
		background:$c_mainlight;
		&::before{
			color: #fff;
		}
	}

	.selection{
		position: absolute;
		left: 0;
		top: 0;
	}

	

	.option:hover::after{
		color: $c_mainlight;
	}

	.bg-repeat::before, .bg-repeat .option::before, .bg-repeat .option::after, .bg-repeat .selection::after{
		content: '\e009';
		line-height: .94;
		font-size: 2.9rem;
		padding-left: .1em;
	}

	.selection::after{
		padding-left: .06em !important;
		color: $c_mainlight;
	}
	


	.bg-repeat .bg-repeat-repeat-x::after{
		content: '\e012';
		padding-left: .07em;

	}
	.bg-repeat .bg-repeat-repeat-y::after{
		content: '\e011';
		padding-left: .07em;

	}
	.bg-repeat .bg-repeat-no-repeat::after{
		content: '\e013';
		padding-left: .07em;

	}
	 .bg-repeat .bg-repeat-repeat::after{
		content: '\e009';
		padding-left: .07em;

	}

	.bg-position::before, .bg-position .option::before, .bg-position .option::after, .bg-position .selection::after{
		content: '\e003';
		padding-left: .1em;
		font-size: 2.8rem;
	}

	.bg-position .bg-position-lt::after{
		content: '\e006';
	}
	.bg-position .bg-position-rt::after{
		content: '\e008';
	}
	.bg-position .bg-position-lb::after{
		content: '\e005';
	}
	.bg-position .bg-position-rb::after{
		content: '\e007';
	}

	.bg-position .bg-position-cc::after{
		content: '\e004';
	}*/



/**************
// text controls 
***************/

	/*.text-align .icon::before{
		font-size: 1.8em;
	}

	.text-align-left::before{
		content: '\e016';
	}*/